
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;


}

input{
    border-radius: 5px;
}

p{
margin:0px;
}
h1{
    text-align: center;
    margin:20px;
}
#main{
   display:flex;
    padding:50px;
   justify-content: center;
   align-items: center;
   width:100%;



  
}
.myClass{
    width:50%;
    padding:20px;
    display: flex;
    flex-direction: column;

   
    

}
img{
    width:300px;
    height:400px;
 
}


footer{
     text-align: center;
    padding:10px;
}

.third{
    display:flex;
    flex-direction: column;

    width:50%;
    margin:20px;
    font-size: 15px;
}
 .third p{
     
     font-weight: bold;
 }

 #details{
     padding:100px;
   
 }